<!DOCTYPE html>
<html lang="fr" ng-app="pemTask">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>France IOI Task Platform</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="bower_components/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/fioi-editor/dst/fioi-editor.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/submission-manager/dst/submission-manager.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="bower_components/blockui/jquery.blockUI.js"></script>
    <script type="text/javascript" src="bower_components/pem-task/platform-pr.js"></script>
    <script type="text/javascript" src="bower_components/fioi-editor/dst/fioi-editor.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/raphael/raphael-min.js"></script>
    <script type="text/javascript" src="pem-api.js"></script>
    <script src="commonFramework/modelsManager/modelsManager.js"></script>
    <script src="shared/models.js"></script>
    <script src="commonFramework/sync/syncQueue.js"></script>
    <script src="bower_components/submission-manager/dst/submission-manager.min.js"></script>
    <script src="taskController.js"></script>
    <script src="editor/editorController.js"></script>
    <script>var rootUrl = 'commonFramework/';</script>
  </head>
  <body ng-controller="taskController">
   <div id="editor">
     <div ng-controller="editorController" ng-include="'editor/editor.html'"></div>
   </div>
   <div id="submission">
      <div ng-if="!submission">Vous n'avez pas soumis de réponse à cet exercice</div>
      <div ng-if="submission" ng-controller="submissionController" ng-include="'submission-manager/submission.html'"></div>
   </div>
  </body>
</html>
