#dualView {
   position: relative;
   width: 100%;
}
#dualViewLeft {
   display: inline-block;
   width: 49%;
   padding-right: 4px;
}
#dualViewRight {
   display: inline-block;
   width: 49%;
   height: 100%;
   position: absolute;
   top: 0px;
   left: 50%;
   border-left: 1px solid black;
   padding-left: 4px;
   padding-top: 40px;
}
#dualViewLeftContent, #dualViewRightContent {
   margin-left: auto;
   margin-right: auto;
   width: 772px;
}
